body{
    font-family: "Roboto", sans-serif;
}

.header{
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.title{
    padding-left: 40px;
    align-self: center;
    font-weight: 900;
}

ul{
    display: flex;
    padding-left: 0;
    padding-right: 40px;
    gap: 20px;

}

.main, .footer, .header{
    background-color: #1F2937;
}

.main{
    display: flex;
}

h1, .header, .footer{
    color: #F9FAF8;
}

h1{
    font-size: 48px;
    font-weight: 900;
}

a, .main-left{
    font-size: 18px;
    color: #E5E7EB;
} 

li{
    list-style-type: none;
}

a{
    text-decoration: 0;
}

.contact, button{
    background-color: #3882F6;
}

h2, blockquote{
    font-size: 36px;
    color: #1F2937;
    
}

h2{
    font-weight: 900;
}
.quote{
    background-color: #E5E7EB;
}

blockquote{
    font-weight: 300;
    font-style: italic;
}